.fixed{position: fixed;}
.special-fab {
  margin-left: 3rem;
  margin-bottom: -1.5rem;
}
.mi-cuenta-fab{
  margin-left: 5rem;
  margin-bottom: 4rem;
}
::ng-deep {
  .action-sheet-cancel {
    --background: var(--ion-color-light) !important;
    color: var(--ion-color-medium) !important;
  }
}
.file-input {
  display: none;
}

