<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>Detalle indicencia</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--<ion-row>
    <ion-col size="12">
      <table class="complement-table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Nivel daño</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ion-chip
                outline
                [class.default]="dragObj.levelColor === 'default'"
                [class.warning]="dragObj.levelColor === 'warning'"
                [class.danger]="dragObj.levelColor === 'danger'"
              >
                {{dragObj.indicatorIcon}} | {{dragObj.indicatorTitle}}
              </ion-chip>
            </td>
            <td>
              <ion-chip
                outline
                [class.default]="dragObj.levelColor === 'default'"
                [class.warning]="dragObj.levelColor === 'warning'"
                [class.danger]="dragObj.levelColor === 'danger'"
              >{{dragObj.levelTxt}}</ion-chip>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>-->

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div style="display: flex; flex-direction: column;border-left: 4px solid var(--ion-color-primary);padding-left: 12px;margin-left: 1rem;">
            <span style="font-weight: 600">Tipo</span>
            <span style="display: flex;margin-top: 10px;"><mat-icon>{{dragObj.indicatorIcon}}</mat-icon>&nbsp; {{dragObj.indicatorTitle}}</span>
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <h3 style="text-align: left; font-weight: 500">Comentarios</h3>
              <ng-container *ngFor="let comment of dragObj.notas">
                <div style="background: #f1f1f1;border-radius: 10px;padding: 1rem;margin-bottom: 1rem;">
                  <ion-textarea autoGrow readonly [value]="comment.nota">
                  </ion-textarea>
                  <div style="display: flex; flex-direction: column; text-align: right;">
                    <span style="color: #6b6969">{{comment.agente}}</span>
                    <span style="color: #6b6969">{{comment.date}}</span>
                  </div>

                </div>

              </ng-container>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>


      <mat-divider></mat-divider>
      <br>
      <ion-row>
        <ion-col size="12">
          <app-modelos-docs model="cobranza" docType="voucher" btnSize="small"  [justButton]="true" [fullSize]="true" [model_id_value]="1">
            <legend name="legend">Evidencia</legend>
          </app-modelos-docs>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
