<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <ion-card class="app-card">
    <ion-card-content>

      <ion-row style="height: 100%; align-content: center; justify-content: center">
        <ion-col size="12" style="height: 90%">
          <div class="title-container">
          </div>
          <ion-row *ngIf="vehiculoData && vehiculoData.estatus">
            <ion-col size="6">
              <ion-button class="btn-shadow" color="secondary" expand="full" (click)="saveUpdate()">
                Guardar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <div style="display: flex;justify-content: flex-end;align-items: center;">
                <ion-label style="margin-right: 1em;font-weight: 500;">Estatus</ion-label>
                <ion-chip class="{{vehiculoData.estatus}}" title="{{vehiculoC.getLabel(vehiculoData.estatus)}}">
                  <ion-label>{{vehiculoC.getLabel(vehiculoData.estatus)}}</ion-label>
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>
          <form [formGroup]="vehiculoForm">
            <div class="form-content">

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>Código Vehículo</mat-label>
                    <input type="text" matInput formControlName="codigo">
                    <mat-error *ngIf="vf.codigo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>Modelo</mat-label>
                    <input type="text" matInput formControlName="modelo">
                    <mat-error *ngIf="vf.modelo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>Modelo Año</mat-label>
                    <input type="text" matInput formControlName="modelo_ano">
                    <mat-error *ngIf="vf.modelo_ano.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>Version</mat-label>
                    <mat-select formControlName="version">
                      <mat-option [value]="1">Estándar</mat-option>
                      <mat-option [value]="2">Automático</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.version.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size>
                  <div>
                    <ion-button size="small" color="success" (click)="showNewMarca(true)"><ion-icon name="add"></ion-icon></ion-button>

                    <div style="float: right;" *ngIf="newMarcaV">
                      <ion-button size="small" color="primary" (click)="saveNewMarca()">Guardar</ion-button>
                      <ion-button size="small" color="medium" (click)="showNewMarca(false)"><ion-icon name="close"></ion-icon></ion-button>
                    </div>
                  </div>

                  <mat-form-field appearance="legacy" [ngClass]="{hide: newMarcaV}">
                    <mat-label>Marca</mat-label>
                    <mat-select formControlName="marca_id">
                      <mat-option *ngFor="let marca of marcasV" [value]="marca.id">{{marca.marca}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.marca_id.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>

                  <div *ngIf="newMarcaV">
                    <mat-form-field appearance="legacy">
                      <mat-label>Nueva Marca</mat-label>
                      <input matInput #newMarcaI>
                    </mat-form-field>
                  </div>
                </ion-col>

                <ion-col size>
                  <div>
                    <ion-button size="small" color="success" (click)="showNewCatV(true)"><ion-icon name="add"></ion-icon></ion-button>

                    <div style="float: right;" *ngIf="newCatV">
                      <ion-button size="small" color="primary" (click)="saveNewCatV()">Guardar</ion-button>
                      <ion-button size="small" color="medium" (click)="showNewCatV(false)"><ion-icon name="close"></ion-icon></ion-button>
                    </div>
                  </div>
                  <mat-form-field appearance="legacy" [ngClass]="{hide: newCatV}">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoria_vehiculo_id">
                      <mat-option *ngFor="let cat of categoriasV" [value]="cat.id">{{cat.categoria}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.categoria_vehiculo_id.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>

                  <div *ngIf="newCatV">
                    <mat-form-field appearance="legacy">
                      <mat-label>Nueva Cateogoría</mat-label>
                      <input matInput #newCatVI>
                    </mat-form-field>
                  </div>
                </ion-col>

                <ion-col size>
                  <div>
                    <ion-button fill="clear" size="small"></ion-button>
                  </div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Clase</mat-label>
                    <mat-select formControlName="clase_id">
                      <mat-option *ngFor="let clase of clasesV" [value]="clase.id">{{clase.clase}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.clase_id.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size>
                  <div>
                    <ion-button fill="clear" size="small"></ion-button>
                  </div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Color</mat-label>
                    <input type="text" matInput formControlName="color">
                    <mat-error *ngIf="vf.color.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">

                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>Núm. Serie</mat-label>
                    <input type="text" matInput formControlName="num_serie">
                    <mat-error *ngIf="vf.num_serie.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>No. Placas</mat-label>
                    <input matInput type="text" formControlName="placas">
                    <mat-error *ngIf="vf.placas.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size>
                  <mat-form-field appearance="legacy">
                    <mat-label>No. Poliza Seguro</mat-label>
                    <input matInput type="text" formControlName="num_poliza_seg">
                    <mat-error *ngIf="vf.num_poliza_seg.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Km Recorridos</mat-label>
                    <input matInput type="number" formControlName="km_recorridos">
                    <mat-error *ngIf="vf.km_recorridos.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Prox. Servicio</mat-label>
                    <input matInput [matDatepicker]="prox_servicio" formControlName="prox_servicio" (click)="prox_servicio.open();">
                    <mat-datepicker-toggle matSuffix [for]="prox_servicio"></mat-datepicker-toggle>
                    <mat-datepicker #prox_servicio></mat-datepicker>
                    <mat-error *ngIf="vf.prox_servicio.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Cantidad Combustible</mat-label>
                    <mat-select formControlName="cant_combustible">
                      <mat-option value="1/8">1/8</mat-option>
                      <mat-option value="2/8">2/8</mat-option>
                      <mat-option value="3/8">3/8</mat-option>
                      <mat-option value="4/8">4/8</mat-option>
                      <mat-option value="5/8">5/8</mat-option>
                      <mat-option value="6/8">6/8</mat-option>
                      <mat-option value="7/8">7/8</mat-option>
                      <mat-option value="8/8">8/8</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.cant_combustible.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Capacidad Tanque</mat-label>
                    <input matInput formControlName="cap_tanque">
                    <mat-error *ngIf="vf.cap_tanque.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>


              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Precio Renta</mat-label>
                    <input matInput type="number" formControlName="precio_renta">
                    <mat-error *ngIf="vf.precio_renta.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Activo</mat-label>
                    <mat-select formControlName="activo">
                      <mat-option [value]="1">Si</mat-option>
                      <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="vf.activo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <br />
            </div>
          </form>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <table class="complement-table">
            <thead>
              <tr>
                <th>Frecuencia</th>
                <th>Ap. Descuento</th>
                <th>Valor Descuento</th>
                <th>Descuento</th>
                <th>P. Final</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tApollo of tarifaApolloPayload">
                <td>{{tApollo.frecuencia}}</td>
                <td>
                  <mat-form-field appearance="standard">
                   <input matInput [value]="tApollo.ap_descuento">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="standard">
                    <input type="number" autocomplete="off" matInput [(ngModel)]="tApollo.valor_descuento">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="standard">
                    <input type="text" autocomplete="off" matInput readonly [value]="tApollo.descuento">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="standard">
                    <input type="text" autocomplete="off" matInput [(ngModel)]="tApollo.precio_final" [readonly]="tApollo.precio_final_editable === false">
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


<ion-footer *ngIf="asModal === true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
