<!--<div class="example-boundary">
  <div class="example-box" cdkDragBoundary=".example-boundary" #dragElement [cdkDragFreeDragPosition]="{x: 185, y: 182}" cdkDrag (cdkDragEnded)="catchEvent($event, dragElement)">
    I can only be dragged within the dotted container
  </div>
</div>
<mat-divider></mat-divider>

<div>

</div>-->

<div class="box-container">
  <span>600px</span>
  <span>450px</span>
  <app-draggable-resizable [width]="300" [height]="300" [left]="100" [top]="100"></app-draggable-resizable>
</div>
