<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card class="app-card">
    <ion-card-content>

      <ion-row style="height: 100%; align-content: center; justify-content: center">
        <ion-col size="12" style="height: 90%">
          <div class="title-container">
          </div>

          <form [formGroup]="tarifaExtraForm">
            <div class="form-content">
              <ion-row class="ion-no-padding ion-no-margin">

                <ion-col size="12" size-md="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="nombre">
                    <mat-error *ngIf="tf.nombre.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" formControlName="precio">
                    <mat-error *ngIf="tf.precio.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12">
                  <mat-form-field appearance="legacy">
                    <mat-label>Activo</mat-label>
                    <mat-select formControlName="activo">
                      <mat-option [value]="1">Si</mat-option>
                      <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tf.activo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <br />
              <ion-button class="btn-shadow" color="secondary" expand="full" (click)="saveUpdate()">
                Guardar
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
