<div #box class="resizable-draggable"
     [style.width.px]="objWidth"
     [style.height.px]="objHeight"
     [style.transform]="'translate3d('+ objLeft + 'px,' + objTop + 'px,' + '0px)'"
     [class.active]="status === 1 || status === 2"
     [class.default]="draggableObj.enable === true"
     [class.warning]="draggableObj.levelColor === 'warning'"
     [class.disable-drag]="draggableObj.enable === false"
     [class.danger]="draggableObj.levelColor === 'danger'"
     [class.lock]="draggableObj.lock === true"
     [class.unlock]="draggableObj.lock === false || !draggableObj.lock"
     (window:mousemove)="catchMouseMove($event)"
     (mousedown)="setStatus($event, 2)"
     (window:mouseup)="setStatus($event, 0)"
     (click)="emitSelected(true)"
>
  <div *ngIf="draggableObj.enable === true" style="transform: translate3d(0px, -35px, 0px); width: 80px">
    <span style="width: 100%;"><b>Id: {{draggableObj.id}}</b></span>
  </div>
<!--  <div class="drag-action-buttons">
    <ion-button size="small" color="danger" (click)="removeObj()">
      <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" style="&#45;&#45;background: var(&#45;&#45;app-blue-light); &#45;&#45;color: white;" [matMenuTriggerFor]="dragMoreOpts">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <mat-menu #dragMoreOpts="matMenu">
      <button mat-menu-item (click)="damageLevelSheet()">
        <mat-icon>stacked_line_chart</mat-icon>
        <span>Nivel daño</span>
      </button>
      <button mat-menu-item (click)="openModelosDocModal()">
        <mat-icon>photo_camera</mat-icon>
        <span>Capturar Foto(s)</span>
      </button>
      <button mat-menu-item (click)="addNote()">
        <mat-icon>text_snippet</mat-icon>
        <span>Agregar Nota</span>
      </button>
      <button mat-menu-item (click)="openFullView()">
        <mat-icon>visibility</mat-icon>
        <span>Ver mas</span>
      </button>
    </mat-menu>
  </div>-->

  <div class="letter-identifier">
    <mat-icon>{{draggableObj.indicatorIcon}}</mat-icon>
  </div>
  <div class="resize-action" [class.disable-drag]="draggableObj.enable === false" (mousedown)="setStatus($event, 1)"></div>
  <ng-container *ngIf="false">
    <span>{{objWidth | number:'1.0-0'}}px</span>
    <span>{{objHeight | number:'1.0-0'}}px</span>
    <span>({{objLeft}}, {{objTop}})</span>
  </ng-container>

</div>

