<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="revisionRowH">
  <ion-row style="margin: 1.2rem;">


    <ion-col size="6">
      <h2 style="color: var(--ion-color-dark-tint)">ESTATUS: {{(contractData) ? statusC.labelStatus(contractData.estatus) : 'NUEVO CONTRATO'}}</h2>

      <ion-row>
        <ion-col size="12" class="ion-align-self-center ion-no-padding ion-no-margin">
          <div class="folio-copy" *ngIf="num_contrato">
            <ion-label style="font-size: 1.2rem; margin-right: 1rem;">
              Num. Contrato: {{num_contrato}}
            </ion-label>
<!--            <ion-button fill="outline" (click)="generalServ.copyClickBoard(num_contrato)">-->
<!--              <ion-icon slot="icon-only" name="copy"></ion-icon>-->
<!--            </ion-button>-->
          </div>
          <div *ngIf="!num_contrato" class="status-badge-container">
            <span>Estatus</span>
            <ion-badge slot="end" color="warning">Sin guardar</ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="6" class="ion-text-end">
      <button mat-raised-button class="button-success">Crear Contrato</button>
      &nbsp;
      <button mat-raised-button class="button-cancel">Cancelar Contrato</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <mat-accordion>
        <div class="accordion-margin" [formGroup]="generalDataForm" *ngIf="generalDataForm">
          <mat-expansion-panel (opened)="setStep(0)" [expanded]="step === 0" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Generales
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="calendar"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="generalDataForm">
              <ion-card>
                <ion-card-content>
                  <ion-row>
                    <ion-col size="12" size-md="7">
                      <div *ngIf="vehiculoData">
                        <ion-row>
                          <ion-col size="12">
                            <div class="search-row-buttons">
                              <ion-button size="small" color="secondary" (click)="openModalSearch('vehiculos', 'vehiculo')">
                                <ion-icon name="search"></ion-icon>
                              </ion-button>
                            </div>
                          </ion-col>
                        </ion-row> <!-- openModalSearch -->
                        <ion-row class="ion-no-padding ion-no-margin">
                          <ion-col size>
                            <mat-form-field appearance="legacy">
                              <mat-label>Código Vehículo</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.codigo ? vehiculoData.codigo : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--Código Vehículo-->
                          <ion-col size>
                            <mat-form-field appearance="legacy">
                              <mat-label>Marca</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.marca && vehiculoData.marca.marca ? vehiculoData.marca.marca : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--Marca-->
                          <ion-col size>
                            <mat-form-field appearance="legacy">
                              <mat-label>Modelo</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.modelo ? vehiculoData.modelo : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--Modelo-->
                          <ion-col size>
                            <mat-form-field appearance="legacy">
                              <mat-label>Color</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.color ? vehiculoData.color : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--Color-->
                        </ion-row> <!-- Código Vehículo  Marca  Modelo  Color -->
                        <ion-row class="ion-no-padding ion-no-margin">
                          <ion-col size size-md="4">
                            <mat-form-field appearance="legacy">
                              <mat-label>No. Placas</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.placas ? vehiculoData.placas : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--No. Placas-->
                          <ion-col size size-md="4">
                            <mat-form-field appearance="legacy">
                              <mat-label>No. Serie</mat-label>
                              <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.num_serie ? vehiculoData.num_serie : null">
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--No. Serie-->
                          <ion-col size size-md="4">
                            <mat-form-field appearance="legacy">
                              <mat-label>Capacidad Tanque</mat-label>
                              <input type="number" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.cap_tanque ? vehiculoData.cap_tanque : null" style="text-align: right;">
                              <span matSuffix>LT</span>
                              <mat-hint>Solo lectura</mat-hint>
                            </mat-form-field>
                          </ion-col> <!--Capacidad Tanque-->
                        </ion-row> <!-- No. Placas  No.Serie  Capacidad Tanque  -->
                      </div>
                      <div *ngIf="!vehiculoData">
                        <ion-row>
                          <ion-col size="12">
                            <div class="ion-text-center">
                              Seleccione un vehículo
                              &nbsp;
                              <ion-button size="small" color="secondary" (click)="openModalSearch('vehiculos', 'vehiculo')">
                                <ion-icon name="search"></ion-icon>
                              </ion-button>
                            </div>
                          </ion-col>
                        </ion-row> <!-- openModalSearch -->
                      </div>
                    </ion-col> <!-- datos vehiculo -->
                    <ion-col size="12" size-md="3">
                      <div class="datos-generales-precioU">
                        <h2>Valor unitario x día</h2>
                        <p>{{(gf.precio_unitario_final && gf.precio_unitario_final.value ? (gf.precio_unitario_final.value | currency) : '--')}}</p>
                      </div>
                    </ion-col> <!-- precio unitario -->
                    <ion-col size="12" size-md="2">
                      <mat-form-field appearance="outline">
                        <mat-label>Tipo Tarifa</mat-label>
                        <mat-select #tipoTarifa (selectionChange)="changeTipoTarifa();" formControlName="tipo_tarifa">
                          <mat-option *ngFor="let tarifa of tiposTarifas" [value]="tarifa.tarifa">{{tarifa.tarifa}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ion-col> <!-- tipo de tarifa picker -->
                  </ion-row>
                  <mat-divider></mat-divider>
                  <ion-row>
                    <ion-col size="12" size-md="6"> <!-- Fecha salida - retorno, aplicar iva, extras -->
                      <ion-row>
                        <ion-col size="12" size-md="6">
                          <mat-form-field appearance="legacy">
                            <mat-label>Fecha salida - retorno</mat-label>
                            <mat-date-range-input [rangePicker]="fechaRetornoRegreso" [formGroup]="gf.rango_fechas" [min]="_today">
                              <input matStartDate formControlName="fecha_salida" placeholder="Start date" readonly autocomplete="off" (dateChange)="startDateChange()">
                              <input matEndDate formControlName="fecha_retorno" placeholder="End date" (dateChange)="setReturnDateChange()" readonly autocomplete="off">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="fechaRetornoRegreso"></mat-datepicker-toggle>
                            <mat-date-range-picker #fechaRetornoRegreso></mat-date-range-picker>
                            <mat-hint>{{gf.total_dias.value}} {{(gf.total_dias.value > 1) ? 'días' : 'dia'}}</mat-hint>
                            <mat-error *ngIf="rangoFechas.fecha_salida.errors?.required">La fecha de salida es obligatoria</mat-error>
                            <mat-error *ngIf="rangoFechas.fecha_retorno.errors?.required">La fecha de retorno es obligatoria</mat-error>
                          </mat-form-field>
                        </ion-col> <!-- Fecha salida - retorno -->
                        <ion-col size="12" size-md="6" class="ion-text-center ion-align-self-center">
                          <mat-checkbox
                                  class="example-margin"
                                  [labelPosition]="'after'"
                                  (change)="makeCalc()"
                                  formControlName="con_iva"
                          >
                            Aplicar IVA ?
                          </mat-checkbox>
                        </ion-col> <!-- aplicar IVA -->
                        <ion-col size="12" size-md="6">
                          <mat-form-field appearance="legacy">
                            <mat-label>Extras</mat-label>
                            <mat-select  [multiple]="true" (selectionChange)="pushSelectedExtras()" formControlName="cobros_extras_ids">
                              <mat-option *ngFor="let extras of tarifasExtras" [value]="extras.id">{{extras.nombre}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </ion-col> <!-- Extras -->
                      </ion-row>
                      <mat-divider></mat-divider>
                      <ion-row>
                        <ion-col size="12">
                          <h4>Ubicaciones</h4>
                        </ion-col>
                        <ion-col size="12" size-md="6">
                          <mat-form-field appearance="legacy">
                            <mat-label>Salida</mat-label>
                            <input matInput formControlName="ub_salida_id" autocomplete="off" readonly>
                            <mat-error *ngIf="gf.ub_salida_id.errors?.required">Campo requerido</mat-error>
                          </mat-form-field>
                        </ion-col>
                        <ion-col size="12" size-md="6">
                          <mat-form-field appearance="legacy">
                            <mat-label>Retorno</mat-label>
                            <input matInput formControlName="ub_retorno_id" autocomplete="off" readonly>
                            <mat-error *ngIf="gf.ub_retorno_id.errors?.required">Campo requerido</mat-error>
                          </mat-form-field>
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-md="6">
                      <div style="text-align: center">
                        <p style="margin: 0; padding: 1rem;">Desgloce Cobro</p>
                        <small *ngIf="cobranzaI && cobranzaI.length === 0">En espera para iniciar calculo ....</small>
                      </div>
                      <table class="desgloce-cobro-table" *ngIf="cobranzaI && cobranzaI.length > 0">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Monto</th>
                          <th>Cantidad</th>
                          <th>Costo MXN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let cobranza of cobranzaI">
                          <tr *ngIf=" cobranza.element !== 'extra'" [ngClass]="{'total-row': cobranza.element === 'total'}">
                            <td>{{cobranza.element_label}}</td>
                            <td>{{cobranza.value | currency}}</td>
                            <td>{{cobranza.quantity}} {{cobranza.quantity_type}}</td>
                            <td>{{(cobranza.number_sign === 'negative' ? '-' : '')}} {{cobranza.amount | currency}}</td>
                          </tr>
                          <ng-container *ngIf=" cobranza.element == 'extra'">
                            <tr class="extra-row">
                              <td>Extras</td>
                              <td colspan="3"></td>
                            </tr>
                            <tr>
                              <td>{{cobranza.element_label}}</td>
                              <td>{{cobranza.value | currency}}</td>
                              <td>
                                <div class="table-input">
                                  <input type="number" autocomplete="off" [(ngModel)]="cobranza.quantity" (ngModelChange)="makeCalc('extra', cobranza)" [ngModelOptions]="{standalone: true}">
                                </div>
                              </td>
                              <td>{{(cobranza.number_sign === 'negative' ? '-' : '')}} {{cobranza.amount | currency}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>

                        </tbody>
                      </table>
                    </ion-col> <!-- desbloce de cobro -->

                  </ion-row>
                </ion-card-content>
                <div class="card-action-buttons">
                  <ion-button  color="success" (click)="saveProcess('datos_generales')">GUARDAR</ion-button>
                </div>
              </ion-card>

            </form>


            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> <!-- Datos Generales -->

    <!--  <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(0)" [expanded]="step === 0" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Generales
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="calendar"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content>
                <form [formGroup]="generalDataForm" *ngIf="generalDataForm">
                  <ion-row>
                    <ion-col>
                      <div class="search-row-buttons">
                        <ion-button size="small" color="secondary" (click)="openModalSearch('sucursales', 'renta_of')">
                          <ion-icon name="search"></ion-icon>
                        </ion-button>
                      </div>
                      <mat-form-field>
                        <mat-label>OFICINA DE RENTA</mat-label>
                        <input type="text" matInput formControlName="renta_of_codigo" readonly>
                        <mat-hint>
                         {{gf.renta_of_dir.value}}
                        </mat-hint>
                        <mat-error *ngIf="gf.renta_of_dir.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field>
                        <mat-label>FECHA DE RENTA</mat-label>
                        <input matInput [matDatepicker]="fecha_renta" (click)="fecha_renta.open()" formControlName="renta_of_fecha" (dateChange)="gf.renta_of_fecha.setValue(dateConv.transFormDate($event.value, 'regular'))">
                        <mat-datepicker-toggle matSuffix [for]="fecha_renta"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_renta></mat-datepicker>
                        <mat-error *ngIf="gf.renta_of_fecha.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field>
                        <mat-label>HORA</mat-label>
                        <div style="display: flex;">
                          <input matInput [ngxTimepicker]="rentTime"  formControlName="renta_of_hora" [format]="24">
                          <ngx-material-timepicker-toggle [for]="rentTime"></ngx-material-timepicker-toggle>
                          <ngx-material-timepicker [theme]="apolloThemClock" #rentTime></ngx-material-timepicker>
                        </div>
                        <mat-error *ngIf="gf.renta_of_hora.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; FECHA DE RENTA &ndash;&gt;
                    <ion-col size="12" size-sm="auto"  class="ion-no-margin ion-no-padding fill-col"></ion-col>
                    <ion-col >
                      <div class="search-row-buttons">
                        <ion-button size="small" color="secondary" (click)="openModalSearch('sucursales', 'retorno_of')">
                          <ion-icon name="search" slot="icon-only"></ion-icon>
                        </ion-button>
                      </div>
                      <mat-form-field>
                        <mat-label>OFICINA DE RETORNO</mat-label>
                        <input type="text" matInput formControlName="retorno_of_codigo" readonly>
                        <mat-hint>
                         {{gf.retorno_of_dir.value}}
                        </mat-hint>
                        <mat-error *ngIf="gf.retorno_of_dir.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field>
                        <mat-label>FECHA DE RETORNO</mat-label>
                        <input matInput [matDatepicker]="fecha_retorno" (click)="fecha_retorno.open()" formControlName="retorno_of_fecha" (dateChange)="gf.retorno_of_fecha.setValue(dateConv.transFormDate($event.value, 'regular'))">
                        <mat-datepicker-toggle matSuffix [for]="fecha_retorno"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_retorno></mat-datepicker>
                        <mat-error *ngIf="gf.retorno_of_fecha.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field>
                        <mat-label>HORA</mat-label>
                        <div style="display: flex;">
                          <input matInput [ngxTimepicker]="returnTime" formControlName="retorno_of_hora" [format]="24">
                          <ngx-material-timepicker-toggle [for]="returnTime"></ngx-material-timepicker-toggle>
                          <ngx-material-timepicker [theme]="apolloThemClock" #returnTime></ngx-material-timepicker>
                        </div>
                        <mat-error *ngIf="gf.retorno_of_hora.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; FECHA DE RETORNO &ndash;&gt;
                  </ion-row>
                </form>

              </ion-card-content>
              <div class="card-action-buttons">
                <ion-button  color="success" (click)="saveProcess('datos_generales')">GUARDAR</ion-button>
              </div>
            </ion-card>


            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> &lt;!&ndash; Datos Generales &ndash;&gt;-->

      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos del Cliente
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="person"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content>
                <form [formGroup]="clienteDataForm" *ngIf="clienteDataForm">
                  <ion-row>
                    <ion-col size="12">
                      <div class="search-row-buttons">
                        <ion-button size="small" color="secondary" (click)="openModalSearch('clientes', 'cliente')">
                          <ion-icon name="search"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>NOMBRE(S)</mat-label>
                        <input type="text" matInput formControlName="nombre">
                        <mat-error *ngIf="cf.nombre.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>APELLIDO(S)</mat-label>
                        <input type="text" matInput formControlName="apellidos">
                        <mat-error *ngIf="cf.apellidos.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>TELÉFONO</mat-label>
                        <input type="tel" matInput formControlName="telefono">
                        <mat-error *ngIf="cf.telefono.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>E-Mail</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="cf.email.errors?.required">Campo requerido</mat-error>
                        <mat-error *ngIf="cf.email.errors?.email">Email invalido</mat-error>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>DIRECCIÓN</mat-label>
                        <textarea matInput formControlName="direccion"></textarea>
                        <mat-error *ngIf="cf.direccion.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>Número de Licencia</mat-label>
                        <input type="number" matInput formControlName="num_licencia">
                        <mat-error *ngIf="cf.num_licencia.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>Mes Exp.</mat-label>
                        <mat-select formControlName="licencia_mes">
                          <mat-option *ngFor="let month of months" value="{{month.digit}}">{{month.month}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>date_range</mat-icon>
                        <mat-error *ngIf="cf.licencia_mes.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                    <ion-col>
                      <mat-form-field appearance="legacy">
                        <mat-label>Año expiración</mat-label>
                        <mat-select formControlName="licencia_ano">
                          <mat-option *ngFor="let year of validYears" value="{{year}}">{{year}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>date_range</mat-icon>
                        <mat-error *ngIf="cf.licencia_ano.errors?.required">Campo requerido</mat-error>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>

                </form>


                <fieldset style="padding-bottom: 2rem;">
                  <legend>Doc. Cliente</legend>
                  <ng-container>
                    <ion-row>
                      <ion-col size="12" class="ion-text-center">
                        <div style="display: flex; justify-content: space-evenly; align-items: center;">
<!--                          <ion-button class="add-button" style="margin: 0 auto;" (click)="presentActionSheet()" shape="round" color="dark" *ngIf="justButton">-->
<!--                            <ion-icon name="camera"></ion-icon>-->
<!--                          </ion-button>-->
                          <app-camera (captureImg)="processDataImage($event)" [justButton]="true"></app-camera>
                          <ion-button [disabled]="disableUploadButton()" *ngIf="docDataTransfer && docDataTransfer.length > 0" color="secondary" expand="round" type="button" (click)="uploadArrayDatasImg('licencia_conducir', 'clientes_docs', 'cliente_id')" style="width: 250px;">
                            <ion-icon name="cloud-upload"></ion-icon>&nbsp; SUBIR
                          </ion-button>
                        </div>
                      </ion-col>
                    </ion-row>

                    <div style="display: flex; justify-content: center; flex-direction: column;" *ngIf="docDataTransfer.length > 0">

                      <ion-row >
                        <ion-col size="6" size-sm="auto" *ngFor="let imgData of docDataTransfer; let i = index" style="margin-bottom: 1rem;">
                          <div class="capture-img-container">
                            <div class="btn-action-container">
                              <ion-button size="small" color="danger" (click)="removeImg(i)" *ngIf="!imgData.file_id">
                                <ion-icon name="trash"></ion-icon>
                              </ion-button>

                              <ion-button size="small" color="danger" (click)="removeFromDisk(imgData, i)" *ngIf="imgData.file_id">
                                <ion-icon name="trash"></ion-icon>
                              </ion-button>
                            </div>
                            <div class="upload-indications" *ngIf="imgData.success || !imgData.file_id">
                              <ion-icon name="cloud-upload" class="base-indicator"></ion-icon>
                              <ion-icon name="checkmark-sharp" class="indicator success" *ngIf="imgData.success === true"></ion-icon>
                              <ion-icon name="close-sharp" class="indicator success" *ngIf="imgData.success === false"></ion-icon>
                              <ion-icon name="hourglass-outline" class="indicator temp" *ngIf="!imgData.file_id"></ion-icon>
                            </div>
                            <ion-img [src]="imgData.url" *ngIf="isImage(imgData.mime_type) === true"></ion-img>
                            <ion-img src="assets/img/pdf-icon.png" *ngIf="imgData.mime_type === 'application/pdf'" style="width: 60%;margin: auto 0;"></ion-img>
                            <div class="loader-upload" *ngIf="imgData.uploading === true">
                              <ion-spinner name="bubbles" *ngIf="imgData.uploading === true"></ion-spinner>
                              <!--<ion-icon name="checkmark-sharp" *ngIf="imgData.success === true" style="color: #44bd00;font-size: 3rem;background: #f9f9f9;border-radius: 50%;padding: 8px;"></ion-icon>-->
                            </div>
<!--                            <ion-icon class="wrong-upload" name="close-sharp" *ngIf="imgData.success === false"></ion-icon>-->
                            <div class="file-name">
                              <label for="">Etiqueta</label>
                              <input type="text" value="{{imgData.etiqueta}}" [(ngModel)]="imgData.etiqueta" [disabled]="(imgData.file_id && imgData.file_id > 0 ? true : false)">
                              <small class="error" *ngIf="imgData.fileErrors">{{imgData.fileErrors}}</small>
                            </div>
                          </div>
                        </ion-col>
                      </ion-row>

                      <!-- <ion-img [src]="bodyImgURL"></ion-img> -->
                    </div>

                  </ng-container>
                </fieldset>
              </ion-card-content>
              <ion-card-title>
                <div class="card-action-buttons">
                  <ion-button color="success" (click)="saveProcess('datos_cliente')">GUARDAR</ion-button>
                </div>
              </ion-card-title>
            </ion-card>


            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> <!-- Datos Cliente -->
<!--      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Vehículo
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="car"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <ion-card>
              <ion-card-content *ngIf="vehiculoData">
                <ion-row>
                  <ion-col size="12">
                    <div class="search-row-buttons">
                      <ion-button size="small" color="secondary" (click)="openModalSearch('vehiculos', 'vehiculo')">
                        <ion-icon name="search"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row> &lt;!&ndash; openModalSearch &ndash;&gt;
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>Código Vehículo</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.codigo ? vehiculoData.codigo : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;Código Vehículo&ndash;&gt;
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>Marca</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.marca && vehiculoData.marca.marca ? vehiculoData.marca.marca : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;Marca&ndash;&gt;
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>Modelo</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.modelo ? vehiculoData.modelo : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;Modelo&ndash;&gt;
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>Color</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.color ? vehiculoData.color : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;Color&ndash;&gt;
                </ion-row> &lt;!&ndash; Código Vehículo  Marca  Modelo  Color &ndash;&gt;
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>No. Placas</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.placas ? vehiculoData.placas : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;No. Placas&ndash;&gt;
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>No. Serie</mat-label>
                      <input type="text" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.num_serie ? vehiculoData.num_serie : null">
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;No. Serie&ndash;&gt;
                  <ion-col size>
                    <mat-form-field appearance="legacy">
                      <mat-label>Capacidad Tanque</mat-label>
                      <input type="number" matInput [disabled]="true" [value]="vehiculoData && vehiculoData.cap_tanque ? vehiculoData.cap_tanque : null" style="text-align: right;">
                      <span matSuffix>LT</span>
                      <mat-hint>Solo lectura</mat-hint>
                    </mat-form-field>
                  </ion-col> &lt;!&ndash;Capacidad Tanque&ndash;&gt;
                </ion-row> &lt;!&ndash; No. Placas  No.Serie  Capacidad Tanque  &ndash;&gt;
                <br>
                <mat-divider></mat-divider>
                <br>
                <form [formGroup]="vehiculoForm" *ngIf="vehiculoForm">
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col size>
                      <mat-form-field appearance="legacy">
                        <mat-label>Kilometraje Salida</mat-label>
                        <input type="number" matInput  formControlName="km_salida">
                        <mat-error *ngIf="vf.km_salida.errors?.required">Campo requerido</mat-error>
                        <mat-hint *ngIf="vf.km_salida.disabled">Solo Lectura</mat-hint>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; Kilometraje Salida  &ndash;&gt;
                    <ion-col size>
                      <mat-form-field appearance="legacy">
                        <mat-label>Kilometraje Llegada</mat-label>
                        <input type="number" matInput  formControlName="km_llegada">
                        <mat-error *ngIf="vf.km_llegada.errors?.required">Campo requerido</mat-error>
                        <mat-hint *ngIf="vf.km_llegada.disabled">Solo Lectura</mat-hint>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; Kilometraje Llegada  &ndash;&gt;
                    <ion-col size>
                      <mat-form-field appearance="legacy">
                        <mat-label>Kilometraje Recorrido</mat-label>
                        <input type="number" matInput  formControlName="km_recorrido">
                        <mat-error *ngIf="vf.km_recorrido.errors?.required">Campo requerido</mat-error>
                        <mat-hint *ngIf="vf.km_recorrido.disabled">Solo Lectura</mat-hint>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; Kilometraje Recorrido &ndash;&gt;
                  </ion-row> &lt;!&ndash; Kilometraje Salida  Kilometraje LLegada  Kilometraja Recorrido  &ndash;&gt;
                  <ion-row  class="ion-no-padding ion-no-margin">
                    <ion-col size>
                      <mat-form-field appearance="legacy">
                        <mat-label>Gas Salida</mat-label>
                        <mat-select formControlName="gas_salida">
                          <mat-option value="1/8">1/8</mat-option>
                          <mat-option value="2/8">2/8</mat-option>
                          <mat-option value="3/8">3/8</mat-option>
                          <mat-option value="4/8">4/8</mat-option>
                          <mat-option value="5/8">5/8</mat-option>
                          <mat-option value="6/8">6/8</mat-option>
                          <mat-option value="7/8">7/8</mat-option>
                          <mat-option value="8/8">8/8</mat-option>
                        </mat-select>
                        <mat-error *ngIf="vf.gas_salida.errors?.required">Campo requerido</mat-error>
                        <mat-hint *ngIf="vf.gas_salida.disabled">Solo Lectura</mat-hint>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; Gas Salida  &ndash;&gt;
                    <ion-col size>
                      <mat-form-field appearance="legacy">
                        <mat-label>Gas Llegada</mat-label>
                        <mat-select formControlName="gas_llegada">
                          <mat-option value="1/8">1/8</mat-option>
                          <mat-option value="2/8">2/8</mat-option>
                          <mat-option value="3/8">3/8</mat-option>
                          <mat-option value="4/8">4/8</mat-option>
                          <mat-option value="5/8">5/8</mat-option>
                          <mat-option value="6/8">6/8</mat-option>
                          <mat-option value="7/8">7/8</mat-option>
                          <mat-option value="8/8">8/8</mat-option>
                        </mat-select>
                        <mat-error *ngIf="vf.gas_llegada.errors?.required">Campo requerido</mat-error>
                        <mat-hint *ngIf="vf.gas_llegada.disabled">Solo Lectura</mat-hint>
                      </mat-form-field>
                    </ion-col> &lt;!&ndash; Gas Llegada  &ndash;&gt;
                  </ion-row> &lt;!&ndash; Gas Salida  Gas Llegada &ndash;&gt;
                </form>

              </ion-card-content>

              <ion-card-content *ngIf="!vehiculoData">
                <ion-row>
                  <ion-col size="12">
                    <div class="ion-text-center">
                      Seleccione un vehículo
                      &nbsp;
                      <ion-button size="small" color="secondary" (click)="openModalSearch('vehiculos', 'vehiculo')">
                        <ion-icon name="search"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row> &lt;!&ndash; openModalSearch &ndash;&gt;
              </ion-card-content>

              <div class="card-action-buttons">
                <ion-button color="success" (click)="saveProcess('datos_vehiculo')">GUARDAR</ion-button>
              </div>
            </ion-card>

            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> &lt;!&ndash; Datos vehiculo &ndash;&gt;
      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Detalle Cobro
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="cash"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content>
                <h4 style="font-weight: 500">TARIFA APOLLO MX</h4>

                <table class="desgloce-table">
                  <thead>
                  <tr>
                    <th>DESCRIPCIÓN DE LOS CARGOS</th>
                    <th></th>
                    <th></th>
                    <th>CARGOS</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>PRECIO UNIT.</th>
                    <th>DIA</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="text-underline: var(&#45;&#45;ion-color-dark)">TARIFA TIEMPO Y KILOMETRAJE T&K</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>HOURS / HORAS</td>
                    <td></td>
                    <td></td>
                    <td>{{'0' | currency}}</td>
                  </tr>
                  <tr>
                    <td>DAYS / DIAS</td>
                    <td>
                      <ion-item>
                        <ion-label class="ion-no-margin ion-no-padding">$</ion-label>
                        <ion-input type="number" [value]="'780.00'"></ion-input>
                      </ion-item>
                    </td>
                    <td>
                      <ion-item>
                        <ion-label class="ion-no-padding ion-no-margin">X</ion-label>
                        <ion-input type="number" value="1"></ion-input>
                      </ion-item>
                    </td>
                    <td>{{'0' | currency}}</td>
                  </tr>
                  <tr>
                    <td>WEEKS / SEMANAL</td>
                    <td></td>
                    <td></td>
                    <td>{{'0' | currency}}</td>
                  </tr>
                  <tr>
                    <td>MONTHS / MENSUAL</td>
                    <td></td>
                    <td></td>
                    <td>{{'0' | currency}}</td>
                  </tr>
                  <tr>
                    <td>EX DAYS / DIA EXTRA</td>
                    <td></td>
                    <td></td>
                    <td>{{'0' | currency}}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>SUBTOTAL-1</th>
                    <th></th>
                    <th></th>
                    <th>{{'349' | currency}}</th>
                  </tr>
                  </tfoot>
                </table>

                <table class="desgloce-table">
                  <thead>
                  <tr class="empty-tr">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>PRECIO UNIT.</th>
                    <th>DIA</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="text-decoration: underline">CARGOS DE PROTECCIONES (OBLIGATORIO)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>DAÑOS MATERIALES 90%</td>
                    <td></td>
                    <td></td>
                    <td>{{'52.35' | currency}}</td>
                  </tr>
                  <tr>
                    <td>DAÑOS TERCEROS</td>
                    <td></td>
                    <td></td>
                    <td>{{'69.80' | currency}}</td>
                  </tr>
                  <tr>
                    <td>GASTOS MEDICOS</td>
                    <td></td>
                    <td></td>
                    <td>{{'34.90' | currency}}</td>
                  </tr>
                  <tr>
                    <td>ASISTENCIA VIAL</td>
                    <td></td>
                    <td></td>
                    <td>{{'17.45' | currency}}</td>
                  </tr>
                  <tr class="remarkFont">
                    <td></td>
                    <td>PRECIO UNIT.</td>
                    <td>L</td>
                    <td></td>
                  </tr>
                  <tr class="remarkFont">
                    <td style="text-decoration: underline">CARGOS DE COMBUSTIBLE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>SUBTOTAL-2</th>
                    <th></th>
                    <th></th>
                    <th>{{'523.50' | currency}}</th>
                  </tr>
                  </tfoot>
                </table>

                <table class="desgloce-table">
                  <thead>
                  <tr class="empty-tr">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>PRECIO UNIT.</th>
                    <th>DIA</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="remarkFont">
                    <td style="text-decoration: underline">CUOTAS LOCALES E IMPUESTOS FEDERALES</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="remarkFont">
                    <td>I.V.A / TAX @ 16%</td>
                    <td></td>
                    <td></td>
                    <td>{{'83.76' | currency}}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>
                      CARGOS ESTIMADOS TOTALES INICIALES X______
                      <br>
                      <small>
                        *TODAS LAS CANTIDADES AQUÍ REFLEJADAS SON EN MONEDA NACIONAL (MNX)
                      </small>
                    </th>
                    <th></th>
                    <th></th>
                    <th>{{'607.26' | currency}}</th>
                  </tr>
                  </tfoot>
                </table>

              </ion-card-content>
            </ion-card>

            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(&#45;&#45;ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> &lt;!&ndash; Detalle Cobro &ndash;&gt;-->
      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(4)" [expanded]="step === 4" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cobranza
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="wallet"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content>
                <h4 style="font-weight: 500">DESCRIPCION DE LOS CARGOS Y PRE_AUTORIZACIONES</h4>
                <ion-row>
                  <ion-col size="6" class="ion-no-padding">
                    <h4 style="margin: 0; padding: 0;">Balance por saldar: {{'607.26' | currency}}</h4>
                  </ion-col>
                  <ion-col size="6" class="ion-text-end ion-no-padding">
                    <button mat-raised-button class="button-success" (click)="openTarjetaForm()">
                      <ion-icon name="card"></ion-icon> &nbsp; Agregar Tarjeta
                    </button>
                  </ion-col>
                </ion-row>
                <br>
                <mat-divider></mat-divider>
                <br>
                <ion-row class="border-ion-row">
                  <ion-col size="12" size-md="8">
                    <table class="cards-table">
                      <tbody>
                      <tr>
                        <td>VISA</td>
                        <td>4521*1234</td>
                        <td>PRE-AUTH: 12345678</td>
                        <td>11-NOV-21</td>
                        <td>{{'3000' | currency}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ion-col>
                  <ion-col size="12" size-md="4" class="ion-no-padding">
                    <fieldset>
                      <legend>Img. Tarjeta</legend>
                      <div style="text-align: center;">
                        <app-camera [justButton]="true"></app-camera>
                      </div>
                    </fieldset>
                  </ion-col>
                </ion-row>

                <ion-row class="border-ion-row">
                  <ion-col size="12" size-md="8">
                    <table class="cards-table">
                      <tbody>
                      <tr>
                        <td>VISA</td>
                        <td>4521*1234</td>
                        <td>PRE-AUTH: 12345678</td>
                        <td>11-NOV-21</td>
                        <td>{{'780' | currency}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ion-col>
                  <ion-col size="12" size-md="4" class="ion-no-padding">
                    <fieldset>
                      <legend>Img. Tarjeta</legend>
                      <div style="text-align: center;">
                        <app-camera [justButton]="true"></app-camera>
                      </div>
                    </fieldset>
                  </ion-col>
                </ion-row>

              </ion-card-content>
            </ion-card>

            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> <!-- COBRANZA Detalle cargos y pre-autorizaciones -->
      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(5)" [expanded]="step === 5" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Check List - Salida
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="checkmark-circle"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content >
                <h4 class="ion-text-center">Por diseñar vista ....</h4>

                <ion-row  (loadeddata)="initReviewCanva()">
                  <ion-col size="12" id="revisionRowW">
                    <canvas id="revisionC"></canvas>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> <!--   Check List - Salida -->
      <mat-accordion>
        <div class="accordion-margin">
          <mat-expansion-panel (opened)="setStep(6)" [expanded]="step === 6" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Firma
              </mat-panel-title>
              <mat-panel-description style="margin: 0; justify-content: flex-end;">
                <ion-icon name="pencil"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size="12">
                    <p>Acepto que texto de aceptación --> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem deserunt dignissimos dolore doloremque ducimus error, eveniet, id magnam minus, odio optio qui quisquam quod repudiandae sequi sint suscipit ullam.</p>
                  </ion-col>
                </ion-row>
                <hr style="background: var(--ion-color-secondary)">

                <app-signature-capture (signatureEmit)="captureSignature($event)"
                                       [instanceType]="'plain'"></app-signature-capture>
              </ion-card-content>
            </ion-card>

            <mat-action-row>
              <button (click)="prevStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-back-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button> &nbsp; &nbsp;

              <button (click)="nextStep()" mat-flat-button style="font-size: 1.5rem;">
                <ion-icon name="chevron-forward-outline" style="color: var(--ion-color-medium);"></ion-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion> <!-- Captura Firma -->
    </ion-col>
  </ion-row>


</ion-content>
