<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card class="app-card">
    <ion-card-content>

      <ion-row style="height: 100%; align-content: center; justify-content: center">
        <ion-col size="12" style="height: 90%">
          <div class="title-container">
          </div>

          <form [formGroup]="tipoCambioForm">
            <div class="form-content">
              <ion-row class="ion-no-padding ion-no-margin">

                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Divisa Base</mat-label>
                    <mat-select formControlName="divisa_base_id"
                                (selectionChange)="catchDivisaChange('divisa_base_id')">
                      <mat-option *ngFor="let divisa of divisasList" [value]="divisa.id">{{divisa.divisa_iso}}
                        - {{divisa.nombre_divisa}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tc.divisa_base_id.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Tipo Cambio</mat-label>
                    <input matInput type="number" formControlName="tipo_cambio" autocomplete="off">
                    <mat-error *ngIf="tc.tipo_cambio.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Divisa Conversión</mat-label>
                    <mat-select formControlName="divisa_conversion_id"
                                (selectionChange)="catchDivisaChange('divisa_conversion_id')">
                      <mat-option *ngFor="let divisa of divisasList" [value]="divisa.id">{{divisa.divisa_iso}}
                        - {{divisa.nombre_divisa}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tc.divisa_conversion_id.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <br/>
              <ion-button class="btn-shadow" color="secondary" expand="full" (click)="saveUpdate()">
                Guardar
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
