<ion-app>
  <!--  <ion-router-outlet></ion-router-outlet>-->

  <ion-split-pane when="xl" contentId="principal" style="--side-width: 270px">

    <ion-menu contentId="principal" menuId="first" side="start" [ngClass]="{hide: showMenu === false}">
      <div class="absolute-full side-menu-content"></div>
      <ion-content class="menu-container">

        <div class="menu-top bg-full relative">
          <!--          <div class="filter-menu-top"></div>-->
          <div class="absolute-footer width-100 padding-20">
            <ion-item class="no-border no-background avatar-item" style="text-shadow: 0 3px 3px black;">

              <ng-container>
                <ion-avatar slot="start" style="height: 60px;width: 60px;">
                  <img [src]="returnInsignia()" style="object-position: top;">
                </ion-avatar>
              </ng-container>

              <ion-label class="ion-text-wrap ion-text-center label-name"
                         *ngIf="sessionService.$profileData.value">{{sessionService.$profileData.value.nombre}}
                - {{sessionService.$profileData.value.area_trabajo.area}}</ion-label>
            </ion-item>
          </div>
        </div>

        <ion-list id="sidenav" class="links-container">

          <!--<ng-container> &lt;!&ndash; Dashboard &ndash;&gt;
            <ion-item class="item item-icon-left" routerLinkActive="active-route" [routerLink]="['dashboard']"
                      (click)="closeMenu()">
              <ion-icon name="apps-outline"></ion-icon>&nbsp; Dashboard
            </ion-item>
          </ng-container> &lt;!&ndash; Dashboard &ndash;&gt;
          <ng-container> &lt;!&ndash; Contratos &ndash;&gt;
            <ion-item class="item item-icon-left" (click)="menuItemHandler('contratos')" detail>
              <ion-icon name="clipboard-outline"></ion-icon>&nbsp; Contratos
            </ion-item>
            <ion-item-group submenu [class.visible]="showSubmenu === 'contratos'">
              <ion-item submenu-item routerLinkActive="active-route" (click)="closeMenu()">
                <ion-icon name="document-outline"></ion-icon>
                Nuevo Contrato
              </ion-item>
            </ion-item-group>
          </ng-container> &lt;!&ndash; Contratos &ndash;&gt;
          <ng-container> &lt;!&ndash; Vehículos &ndash;&gt;
            <ion-item class="item item-icon-left" routerLinkActive="active-route" (click)="closeMenu()">
              <ion-icon name="document-text-outline"></ion-icon>&nbsp; Vehículos
            </ion-item>
          </ng-container> &lt;!&ndash; Vehículos &ndash;&gt;
          <ng-container> &lt;!&ndash; Reportes &ndash;&gt;
            <ion-item class="item item-icon-left" routerLinkActive="active-route" (click)="closeMenu()">
              <ion-icon name="document-text-outline"></ion-icon>&nbsp; Reportes
            </ion-item>
          </ng-container> &lt;!&ndash; Reportes &ndash;&gt;
          <ng-container> &lt;!&ndash; Administración &ndash;&gt;
            <ion-item class="item item-icon-left" detail>
              <ion-icon name="clipboard-outline"></ion-icon>&nbsp; Administración
            </ion-item>
            <ng-container> &lt;!&ndash; Cátalogo de vehículos &ndash;&gt;
              <ion-item-group submenu class="visible"> &lt;!&ndash; Cátalogo de vehículos &ndash;&gt;
                <ion-item detail>
                  <ion-icon name="bookmarks"></ion-icon>
                  Catálogos de Vehículos
                </ion-item>
                <ion-item-group submenu class="visible">
                  <ion-item submenu-item (click)="closeMenu()">
                    <ion-icon name="pricetags-outline"></ion-icon>
                    &nbsp; Listado de Vehículos
                  </ion-item>
                  <ion-item submenu-item  routerLinkActive="active-route" (click)="closeMenu()">
                    <ion-icon name="pricetags-outline"></ion-icon>
                    &nbsp; Listado de Marcas
                  </ion-item>
                  <ion-item submenu-item  routerLinkActive="active-route" (click)="closeMenu()">
                    <ion-icon name="pricetags-outline"></ion-icon>
                    &nbsp; Listado de Categorías
                  </ion-item>
                </ion-item-group>

              </ion-item-group>
            </ng-container> &lt;!&ndash; Cátalogo de vehículos &ndash;&gt;
            <ng-container> &lt;!&ndash; Control de acceso &ndash;&gt;
              <ion-item detail>
                <ion-icon name="bookmarks"></ion-icon>
                Control de acceso
              </ion-item>
              <ion-item-group submenu [class.visible]="true">
                <ion-item submenu-item [routerLink]="['catalogos/marcas-vehiculos-vehiculos']" routerLinkActive="active-route" (click)="closeMenu()">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  &nbsp; Listado de usuarios
                </ion-item>
                <ion-item submenu-item [routerLink]="['catalogos/marcas-vehiculos-vehiculos']" routerLinkActive="active-route" (click)="closeMenu()">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  &nbsp; Listado de Áreas de Trabajo
                </ion-item>
                <ion-item submenu-item [routerLink]="['catalogos/marcas-vehiculos-vehiculos']" routerLinkActive="active-route" (click)="closeMenu()">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  &nbsp; Listado de Sucursales
                </ion-item>
              </ion-item-group>
            </ng-container> &lt;!&ndash; Control de acceso &ndash;&gt;
            <ng-container> &lt;!&ndash; Clientes &ndash;&gt;
              <ion-item detail>
                <ion-icon name="bookmarks"></ion-icon>
                Clientes
              </ion-item>
              <ion-item-group submenu [class.visible]="true">
                <ion-item submenu-item [routerLink]="['catalogos/marcas-vehiculos-vehiculos']" routerLinkActive="active-route" (click)="closeMenu()">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  &nbsp; Listado de clientes
                </ion-item>
              </ion-item-group>
            </ng-container> &lt;!&ndash; Clientes &ndash;&gt;

          </ng-container> &lt;!&ndash; Administración &ndash;&gt;-->


          <ng-container *ngTemplateOutlet="recursiveMenu; context: {$implicit: demoMenu}"></ng-container>
          <ng-template #recursiveMenu let-demoMenu>
            <ng-container *ngFor="let menu of demoMenu">
              <ng-container *ngIf="menu.route; else noItemRoute">
                <ion-item class="item item-icon-left" detail [routerLink]="menu.route" [routerLinkActiveOptions]="{exact: true}" (click)="menuItemHandler(menu)" routerLinkActive="active-route" (click)="closeMenu()">
                  <ion-icon name="{{menu.icon}}"></ion-icon>&nbsp;<span style="width: 100%; margin-left: 7px;">{{menu.label}}</span>
                </ion-item>
              </ng-container>
              <ng-template #noItemRoute>
                <ion-item class="item item-icon-left" detail (click)="menuItemHandler(menu)"  [ngClass]="{'active-route': isActive(menu.module)}">
                  <ion-icon name="{{menu.icon}}"></ion-icon>&nbsp;<span style="width: 100%; margin-left: 7px;">{{menu.label}}</span>
                </ion-item>
              </ng-template>
              <ion-item-group *ngIf="menu.children && menu.children.length > 0" submenu [class.visible]="menu.active">
                <ng-container *ngTemplateOutlet="recursiveMenu; context: {$implicit: menu.children}"></ng-container>
              </ion-item-group>
            </ng-container>
          </ng-template>


        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-button expand="full" class="logout-btn ion-no-padding ion-no-margin"
                        (click)="sessionService.logout(); closeMenu();">
              <b>SALIR</b>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="principal"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
