<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card class="app-card">
    <ion-card-content>

      <ion-row style="height: 100%; align-content: center; justify-content: center">
        <ion-col size="12" style="height: 90%">
          <div class="title-container">
          </div>

          <form [formGroup]="ubicacionForm">
            <div class="form-content">
              <ion-row class="ion-no-padding ion-no-margin">

                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Alias</mat-label>
                    <input matInput type="text" formControlName="alias" autocomplete="off" maxlength="70">
                    <mat-error *ngIf="uf.alias.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>

                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Pais</mat-label>
                    <input matInput type="text" formControlName="pais" autocomplete="off" readonly>
                    <mat-error *ngIf="uf.pais.errors?.required">Campo requerido</mat-error>
                    <mat-hint>Solo lectura</mat-hint>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" formControlName="estado" autocomplete="off" readonly>
                    <mat-error *ngIf="uf.estado.errors?.required">Campo requerido</mat-error>
                    <mat-hint>Solo lectura</mat-hint>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Municipio</mat-label>
                    <input matInput type="text" formControlName="municipio" autocomplete="off" maxlength="70">
                    <mat-error *ngIf="uf.municipio.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Colonia</mat-label>
                    <input matInput type="text" formControlName="colonia" autocomplete="off" maxlength="70">
                    <mat-error *ngIf="uf.colonia.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Código Postal</mat-label>
                    <input matInput type="number" formControlName="cp" autocomplete="off">
                    <mat-error *ngIf="uf.cp.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-margin ion-no-padding">
                <ion-col size="12" size-md="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Dirección</mat-label>
                    <textarea matInput rows="5" formControlName="direccion" maxlength="150"></textarea>
                    <mat-error *ngIf="uf.direccion.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Referencias</mat-label>
                    <textarea matInput rows="5" formControlName="referencias" maxlength="150"></textarea>
                    <mat-error *ngIf="uf.referencias.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12">
                  <mat-form-field appearance="legacy">
                    <mat-label>Activo</mat-label>
                    <mat-select formControlName="activo">
                      <mat-option [value]="1">Si</mat-option>
                      <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="uf.activo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <br/>
              <ion-button class="btn-shadow" color="secondary" expand="full" (click)="saveUpdate()">
                Guardar
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
