<div class="main-content">
  <ion-row>
    <ion-col size="12" [ngClass]="{hide: !contratos || contratos.length === 0}">
      <ion-card class="ion-no-margin ion-no-padding">
        <ion-card-header>
          <h2>Exedentes de Kilometraje y Gasolina</h2>
        </ion-card-header>
        <ion-card-content>

          <ion-row>
            <ion-col size="12" size-md="10">
              <ion-searchbar placeholder="Ingrese un valor para filtrar los resultados de la tabla..." class="ion-no-padding" (ionInput)="applyFilter($event)" (ionCancel)="onSearchClear()"></ion-searchbar>
            </ion-col>
          </ion-row>
          <div class="mat-elevation-z8 table-container">
            <mat-table [dataSource]="listContratos" matSort>
              <!-- Fecha -->
              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.created_at | date:'short'  }}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- Placas -->
              <ng-container matColumnDef="rentador">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rentador</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.usuario.nombre}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- vehiculo -->
              <ng-container matColumnDef="vehiculo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Vehiculo</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.vehiculo.modelo}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- Placas -->
              <ng-container matColumnDef="placas">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Placas</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.vehiculo.placas}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>
              <!-- km_final -->
              <ng-container matColumnDef="km_final">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Km Final</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.km_final}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- km_inicial -->
              <ng-container matColumnDef="km_inicial">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Km Inicial</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.km_inicial}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- km_exedente -->
              <ng-container matColumnDef="km_exedente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Km Exedente</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column" >
                    <ion-chip [style]="{'background-color': row != null && (row.km_final - row.km_inicial  >= 1) ? 'red': 'green'}" style="font-weight: bold; color: white;" >
                      {{row.km_final - row.km_inicial}}
                    </ion-chip>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- gas_final -->
              <ng-container matColumnDef="gas_final">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gas Final</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.cant_combustible_retorno}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- gas_inicial -->
              <ng-container matColumnDef="gas_inicial">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gas Inicial</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{row.cant_combustible_salida}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- gas_exedente -->
              <ng-container matColumnDef="gas_exedente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gas Exedente</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <ion-chip [style]="{'background-color': calcExcedenteGas(row.cant_combustible_salida ,row.cant_combustible_retorno).numerator < '0' ? 'red': 'green'}" style="font-weight: bold; color: white;" >
                      {{ calcExcedenteGas(row.cant_combustible_salida ,row.cant_combustible_retorno)}}
                    </ion-chip>
                  </div>
                </mat-cell>
              </ng-container>

              <!-- estatus -->
              <ng-container matColumnDef="estatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div class="column">
                    <p>
                      {{'CONTRATO ' + statusC.labelStatus(row.estatus)}}
                    </p>
                  </div>
                </mat-cell>
              </ng-container>


              <!-- rows staticos-->
              <ng-container matColumnDef="init">
                <mat-footer-cell *matFooterCellDef colspan="7" style="color: var(--ion-color-primary); font-weight: 400;">
                  Ingrese un valor usando el motor de búsqueda ubicado en la parte superior
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="7">
                  <mat-spinner [diameter]="40"></mat-spinner>
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="8" style="color: #2196F3">
                  No se encontraron datos
                </mat-footer-cell>
              </ng-container>

              <!--Table Footer-->
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <!--                <ng-container *ngIf="isModal">-->
              <!--                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editAction(row)" [ngClass]="{hovered: row.hovered, highlighted: row.id === editEmpresa.id}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>-->
              <!--                </ng-container>-->
              <ng-container *ngIf="isModal === false || !isModal">
                <mat-row *matRowDef="let row; columns: displayedColumns;"  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
              </ng-container>

              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{hide: spinner === false}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['init']" [ngClass]="{'hide':listContratos!=null || spinner === true}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']"
                              [ngClass]="{hide:!(listContratos!=null && listContratos.data.length==0)}">
              </mat-footer-row>
            </mat-table>

            <!-- paginator -->
            <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 100]" [pageSize]="8"
                           showFirstLastButtons></mat-paginator>
          </div> <!-- table content-->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" *ngIf="contratos && contratos.length === 0">
      <div class="empty-container">
        <ion-icon name="alert-circle"></ion-icon>
        <p>
          No se encontraron registros
        </p>
      </div>
    </ion-col>
  </ion-row>

</div>
