<ion-header translucent *ngIf="asModal">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card class="app-card">
    <ion-card-content>

      <ion-row style="height: 100%; align-content: center; justify-content: center">
        <ion-col size-lg="12" style="height: 90%">
          <div class="title-container">
          </div>

          <form [formGroup]="categoriaVehiculoForm">
            <div class="form-content">
              <div class="ion-text-right">
                <ion-button  color="success" (click)="openLayoutSelectorModal()" >Seleccionar Layout</ion-button>

              </div>
              <ion-row class="ion-no-padding ion-no-margin">


                <ion-col size-lg="6" size-md="12" size="12">
                  <mat-form-field appearance="legacy">
                    <mat-label>Categoría</mat-label>
                    <input matInput type="text" formControlName="categoria" maxlength="100" autocomplete="off">
                    <mat-error *ngIf="mf.categoria.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                    <mat-label>Activo</mat-label>
                    <mat-select formControlName="activo">
                      <mat-option [value]="1">Si</mat-option>
                      <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.activo.errors?.required">Campo requerido</mat-error>
                  </mat-form-field>
                  <ion-button class="btn-shadow" color="secondary" expand="full" (click)="saveUpdate()">
                    Guardar
                  </ion-button>
                </ion-col>
                <ion-col size-lg="6" size-md="12" size="12" *ngIf="layout != null">
                  <div class="ion-no-padding ion-no-margin">
                    <img src="{{layout.file}}" style="width: 600px">
                  </div>
                </ion-col>
                <ion-col size-lg="6" size-md="12" size="12" *ngIf="layoutSeleccionado != null">
                  <div class="ion-no-padding ion-no-margin">
                    <img src="{{layoutSeleccionado.url}}" style="width: 600px">
                  </div>
                </ion-col>
              </ion-row>


              <br />

            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismiss()">
        Cerrar Ventana
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
