$cols-sm: 3;
$cols-md: 5;
$cols-lg: 10;

mat-table {
  overflow: auto;
  width: 100%;
  display: grid;
  text-align: center;
  @media (min-width: 768px) {
    display: block;
  }
}
mat-header-row, mat-row {
  justify-content: space-between;
}

.table-container, .footer-tables {
  mat-header-cell, mat-cell {
    &:first-of-type {
      padding-left: 0rem;
      max-width: calc(100vw / #{$cols-sm});
      width: calc(100vw / #{$cols-sm});

      @media (min-width: 576px) {
        max-width: calc(100vw / #{$cols-md});
        width: calc(100vw / #{$cols-md});
      }

      @media (min-width: 992px) {
        max-width: calc(100vw / #{$cols-lg});
        width: calc(100vw / #{$cols-lg});
      }
    }
    justify-content: center;
    overflow: inherit;
    max-width: calc(100vw / #{$cols-sm});
    width: calc(100vw / #{$cols-sm});

    @media (min-width: 576px) {
      max-width: calc(100vw / #{$cols-md});
      width: calc(100vw / #{$cols-md});
    }

    @media (min-width: 992px) {
      max-width: calc(100vw / #{$cols-lg});
      width: calc(100vw / #{$cols-lg});
    }
    //word-break: break-all;
    text-align: center;
    padding: 0 !important;
  }
  mat-footer-cell{
    justify-content: center;
  }
}
mat-header-cell {
  padding-left: 1rem !important;
}

.column {
  width: 80%;
}
